.note-editor {

}
.note-editor__form {
	display: flex;
	flex-direction: column;
}
.note-editor__textarea {
	width: 100%;
	min-height: 150px;
	//height: 30px;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	outline: none;
	resize: vertical;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background: #fff;
	
	transition: all .1s ease;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
}
.note-editor__textarea:focus {
	min-height: 150px;
	background: #fff;
}
.note-editor__textarea--empty {
	min-height: 0;
	height: 30px;
	background: #CCA60D;
}
.note-editor__textarea::-webkit-input-placeholder {
	color: #F2DF91;
}
.note-editor__textarea:focus::-webkit-input-placeholder {
	color: #555;
}

.note-editor__btn {
	margin-left: auto;
	margin-top: 10px;
	padding:  5px 20px;
	border-radius: 4px;
	border: none;
	background: #fff;
	outline: none;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	cursor: pointer;

	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
}
.note-editor__textarea--empty + .note-editor__btn {
	display: none;
}